<% include ./partials/header %>
    <div id="showHeader" class="ui main text container segment">
        <div class="ui huge header">Recipes</div>
    </div>

    <div class="ui container">
        <div class="ui centered grid">
            <% let currentIndex = 0 %>
            <% recipes.forEach(element => { %>
                <% let recipe = element.recipe %>
                <% if (currentIndex === 0) {%>
                    <div class="row">
                <% } %>
                    <div class="sixteen wide mobile eight wide tablet four wide computer column">
                        <% let recipeId = recipe.uri.split("#")[1] %>
                        <div class="ui fluid card">
                            <a class="ui image" href="/view/<%= recipeId %>" target="_blank">
                                <img src="<%= recipe.image %>">
                            </a>

                            <div class="content">
                                <div class="header">
                                    <a href="/view/<%= recipeId %>" target="_blank">
                                        <%= recipe.label %>
                                    </a>
                                </div>

                                <div class="meta">
                                    from <a href="<%= recipe.url %>" target="_blank"><%= recipe.source %></a>
                                </div>

                                <div class="description">
                                    <% if (recipe.hasOwnProperty("dietLabels")) { %>
                                    <%  recipe.dietLabels.forEach(label => {      %>
                                    <%=     label + ", "                          %>
                                    <%  });                                       %>
                                    <% }                                          %>

                                    <% if (recipe.hasOwnProperty("healthLabels")) { %>
                                    <%  recipe.healthLabels.forEach(label => {      %>
                                    <%=     label + ", "                            %>
                                    <%  });                                         %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
            <% if (++currentIndex === 4) { %>
                </div>
                <% currentIndex = 0; %>
            <% } %>
           <% }); %>
        </div>
    </div>
<% include ./partials/footer %>