<% include ./partials/header %>
    <div id="showHeader" class="ui main text container segment">
        <div class="ui huge header">Recipes (<%= count %> results)</div>
    </div>

    <div class="ui container">
        <div class="ui centered grid">
            <!--TODO: Add pagination to replace this hardcoded range (use from...to)-->
            <% let currentIndex = 0 %>
            <% for (let i = 0; i < 5; i++) {                %>
                <div class="row">
            <%  for (let j = currentIndex; j < currentIndex + 4; j++) { %>
            <%      let recipe = recipes[j].recipe; console.log(recipe.label, j);               %>
                    <div class="sixteen wide mobile eight wide tablet four wide computer column">
                        <% let recipeId = recipe.uri.split("#")[1] %>
                        <div class="ui fluid card">
                            <a class="ui image" href="/view/<%= recipeId %>" target="_blank">
                                <img src="<%= recipe.image %>">
                            </a>

                            <div class="content">
                                <div class="header">
                                    <a href="/view/<%= recipeId %>" target="_blank">
                                        <%= recipe.label %>
                                    </a>
                                </div>

                                <div class="meta">
                                    from <a href="<%= recipe.url %>" target="_blank"><%= recipe.source %></a>
                                </div>

                                <div class="description">
                                    <% if (recipe.hasOwnProperty("dietLabels")) { %>
                                    <%  recipe.dietLabels.forEach(label => {      %>
                                    <%=     label + ", "                          %>
                                    <%  });                                       %>
                                    <% }                                          %>

                                    <% if (recipe.hasOwnProperty("healthLabels")) { %>
                                    <%  recipe.healthLabels.forEach(label => {      %>
                                    <%=     label + ", "                            %>
                                    <%  });                                         %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
            <% } %>
                </div>
            <% currentIndex += 4; %>
           <% } %>
        </div>
    </div>
<% include ./partials/footer %>